<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./css/style.css">
<head>
  
{{>header}}
</head>

<body>
<h1>Author Name:{{author}}</h1>
<p>{{description}}</p>
<img src="./img/robot.png">
</body>
{{>footer}}
</html>